[env]
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
SECRET_KEY=""
ADMIN_USERS=""
VIEW_USERS=""
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
MODEL=""
API_BASE="http://localhost:11434"
BASE_URL="http://localhost:8080"